.home-page {
    justify-content: space-around;
}
.home-page h1 {
    color: #fff;
    font-size: 52px;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;
}
.hero-img-section {
    width: 30%;
}
.hero-img-section > img:first-child {
    width: 20rem;
    overflow: hidden;
    position: absolute;
    animation: rotation 6s infinite linear;
    /* animation-direction: alternate; */
    cursor: pointer;
}
.hero-img-section > img:first-child:after {
    content: 'Hello';
}

@keyframes rotation {
    0% {
      -webkit-transform: rotate(0deg);
    }
    25% {
      -webkit-transform: rotate(5deg);
    }
    50% {
      -webkit-transform: rotate(0deg);
    }
    75% {
      -webkit-transform: rotate(-5deg);
    }
    100% {
      -webkit-transform: rotate(0deg);
    }
}
.hero-img-section > .circle {
    width: 50rem;
    overflow: hidden;
    position: absolute;
}
.home-page h1::before {
    content: '<h1>';
    font-family: 'La Belle Aurore';
    position: absolute;
    margin-top: -40px;
    color: yellow;
    font-size: 18px;
    left: 6vw;
    opacity: 0.6;
}
.home-page h1::after {
    content: '<h1/>';
    font-family: 'La Belle Aurore';
    color: yellow;
    font-size: 18px;
    position: absolute;
    margin-top: 18px;
    margin-left: 20px;
    opacity: 0.6;
    animation: fadeIn 1s 1.7s backwards;
}
.home-page h1 img {
    width: 35px;
    margin-left: 20px;
    opacity: 0;
    height: auto;
    animation: rotateIn 1s linear both;
    animation-delay: 1.4s;
}

h2 {
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: 400;
    font-size: 14px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
}

.flat-button {
    color: #ffd700;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #ffd700;
    margin-top: 25px;
    float: left;
    animation: fadeIn 1s 1.8s backwards;
    white-space: nowrap;
}

.flat-button:hover {
    background: #ffd700;
    color: #333;
}

/* copy-------- */
.border {
    background-image: linear-gradient(90deg, rgb(101, 95, 103), rgb(101, 95, 103) 50%, transparent 50%, transparent 100%);
    background-size: 15px 2px;
    background-position: -50% center;
    content: "";
    top: 95%;
    position: absolute;
    left: 0px;
    height: 2px;
    width: 100%;
    margin: 1vh;
}

/* responsive --------- */
@media screen and (max-width: 750px) {
    .home-page {
        flex-direction: column;
    }
}