.contact-sections {
    flex-direction: column;
    width: 90vw;
}

.contact-sections > h3 {
    font-size: 3rem;
}

.contact-sections > h4 {
    font-size: 2rem;
}
.contact-sections > .form {
    width: 25%;
    flex-direction: column;
}
.contact-sections > .form >input {
    padding: 2vh;
    width: 100%;
    margin-bottom: 3vh;
    background-color: gray;
    border: none;
}

.contact-sections > .form > :hover {
    caret-color: white;
}

.contact-sections >.form > input::placeholder {
    color: rgb(216, 208, 208);
}

.contact-sections > .form > button {
    padding: 1vh;
    margin: 3vh;
    background: #876f43;
    border: none;
    border-radius: 3px;
}

.contact-options {
    color: #876f43;
    width: 50%;
    justify-content: space-evenly;
}

.contact-options > .contact-boxes {
    flex-direction: column;
    font-size: 2vh;
}

.contact-boxes:nth-child(-n+2) {
    border-right: 2px solid gray;
    padding: 3vh;
}

.contact-links {
    width: 50%;
    margin: 4vh;
}

.contact-links > li {
    margin-right: 5vw;
    font-size: 3rem;
    list-style: none;
}
