@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap');

.contact-sections {
    position: relative;
    flex-direction: column;
    width: 90vw;
    color: #d0caca;
    font-family: 'Work Sans', sans-serif;
}

.contact-sections > h1 {
    font-size: 3rem;
}

.contact-sections > h4 {
    font-size: 1.5rem;
    font-weight: lighter;
}
.contact-sections > .form {
    width: 25%;
    flex-direction: column;
    z-index: 999;
}
.contact-sections > .form >input {
    box-sizing: border-box;
    padding: 2vh;
    width: 100%;
    margin-bottom: 3vh;
    background-color: gray;
    border: none;
}

.contact-sections > .form > :hover {
    caret-color: white;
}

.contact-sections >.form > input::placeholder {
    color: rgb(216, 208, 208);
}

.contact-sections > .form > button {
    padding: 2vh;
    margin: 1vh;
    background: #876f43;
    border: none;
    border-radius: 3px;
    width: 100%;
    font-size: 2.5vh;
    font-weight: bold;
    color: rgb(219, 212, 212);
}
.contact-sections > .form > button:hover {
    background: #ebad3a;
}
.contact-options {
    color: #876f43;
    width: 60%;
    justify-content: space-evenly;
    margin-bottom: 6vh;
}

.contact-options > .contact-boxes {
    height: 30%;
    flex-direction: column;
    font-size: 1.2vw;
    font-family: monospace;
    padding: 3vh;
    cursor:cell;
    background-color: #040524;
}
.contact-options > .contact-boxes:hover {
    color: #ebad3a;
}

.contact-boxes:nth-child(-n+2) {
    border-right: 2px solid gray;
}

.contact-links {
    margin-top: 5vh;
    width: 50%;
}

.contact-links > li {
    margin-right: 5vw;
    font-size: 3rem;
    list-style: none;
}

@media screen and (max-width: 750px) {
    .contact-sections > .form {
        width: 50%;
    }
}
@media screen and (max-width: 450px) {
    .contact-sections > .form {
        width: 70%;
    }
    .contact-options {
        flex-direction: column;
    }
    .contact-options .contact-boxes {
        border: none;
    }
}
