.navbar {
    box-sizing: border-box;
    width: 10vw;
    background: #000;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 4vh 0 4vh 0;
}
.navbar .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.navbar .sidebar-logo {
    text-align: center;
}
.navbar .sidebar-logo img {
    width: 20%;
}

.pages {
    height: 25%;
}
.pages svg {
    height: 3vh;
}
.pages a svg:hover {
    color: #ffd700;
}

