html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font: 300 11px/1.4 'Helvetica Neue', 'sans-serif';
  color: #444;
  background: #05062b;
  display: block;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 1rem;
}
body::-webkit-scrollbar-track {
  background-color: blue;
}
body::-webkit-scrollbar-thumb {
  height: 3rem;
  background-color: red;
}